extends: default

rules:
  line-length:
    max: 230
    level: warning
  # Ref: https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.document_start
  document-start:
    present: false
  # Ref: https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.truthy
  # Also required to manage a false positive with github configuration:
  # https://github.com/adrienverge/yamllint/issues/158
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  # Ref: https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.trailing_spaces
  trailing-spaces: disable
  # Ref: https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.brackets
  brackets: {min-spaces-inside: 0, max-spaces-inside: 3}
