[flake8]
max-line-length=120
exclude=
    .git,
    __pycache__,
    */migrations/**,
    */site-packages/**

ignore=
    # W503 line break before binary operator
    W503,
    # W504 line break after binary operator
    W504,
    # E501 Long line and we will rely black formatter.
    E501,
    # E203 Whitespace before ':' for black formatter compatibility
    E203,
    # T001 print command
    T001,
