name: linters

on:
  workflow_call:
    inputs:
      setup_mypy:
        default: 'echo "No extra setup."'
        required: false
        type: string
      fixit_linter_test_version:
        default: ''
        required: false
        type: string
      extra_mypy_config:
        default: ''
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      CLOUDSMITH_PIP:
        required: true
      CLOUDSMITH_PIP_TEST:
        required: false
      CARTA_CI_GITHUB_TOKEN:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_KEY:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_SECRET:
        required: true

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          path: src
          ref: ${{ github.head_ref }}
          fetch-depth: 50
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@master
        with:
          path: src
          ref: ${{ github.ref_name }}
          fetch-depth: 50
        if: github.event_name != 'pull_request'
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0

  install_dependency:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-http
        with:
          path: /home/runner/.cache/pip/http
          key: pip-http-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-wheel
        with:
          path: /home/runner/.cache/pip/wheels
          key: pip-wheel-v0.1.0
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('src/**/requirements*.txt') }}-${{ hashFiles('src/requirements/*.txt') }}-v0.1.4
      - name: Create a venv and install dependencies
        working-directory: src
        run: |
          set -x
          python -m venv ../venv/
          . ../venv/bin/activate
          pip install --upgrade pip wheel
          pip install setuptools==58.0.1 && make deps
          pip cache info
        if: steps.cache-venv.outputs.cache-hit != 'true'
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}

  run_mypy:
    runs-on: ubuntu-latest
    needs: install_dependency
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('src/**/requirements*.txt') }}-${{ hashFiles('src/requirements/*.txt') }}-v0.1.4
      - name: run Mypy
        shell: bash
        working-directory: src
        run: |
          set -x
          set -o pipefail
          . ../venv/bin/activate
          pip install mypy==0.942
          ${{ inputs.setup_mypy }}
          curl -LJO https://raw.githubusercontent.com/carta/.github/main/configs/mypy.ini
          echo "${{ inputs.extra_mypy_config }}" >> mypy.ini
          if [ -f mypy_dirs.txt ]; then
            mypy --config-file mypy.ini @mypy_dirs.txt | tee mypy_report.txt
          else
            mypy --config-file mypy.ini . | tee mypy_report.txt
          fi
      - name: report Mypy errors on the PR
        if: ${{ failure() }}
        working-directory: src
        env:
          GITHUB_TOKEN: ${{ secrets.CARTA_CI_GITHUB_TOKEN }}
        run: |
          set -x
          . ../venv/bin/activate
          if [ -z "${{ inputs.fixit_linter_test_version }}" ]
          then
            pip install --upgrade fixit-linter --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP }}/carta/pip/python/index/
          else
            pip install --upgrade fixit-linter${{ inputs.fixit_linter_test_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP_TEST }}/carta/pip-test/python/index/
          fi
          mkdir -p logs/
          python -m fixit_linter.linter.ci.add_comment_on_pr --message "Mypy identified some errors:" --inline --from-file mypy_report.txt --parser mypy

  run_fixit_linters:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - name: run decompose linter
        if: github.event_name == 'pull_request'
        working-directory: src
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          S3_KEY: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_KEY }}
          S3_SECRET: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_SECRET }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_REPO: ${{ github.repository }}
        run: |
          set -x
          if [ -z "${{ inputs.fixit_linter_test_version }}" ]
          then
            pip install --upgrade fixit-linter --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP }}/carta/pip/python/index/
          else
            pip install --upgrade fixit-linter${{ inputs.fixit_linter_test_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP_TEST }}/carta/pip-test/python/index/
          fi
          python3 -m fixit_linter.linter.general.github.pull_request_validator
          python3 -m fixit_linter.linter.decomposition.linter ${S3_KEY} ${S3_SECRET} ${PR_REPO}
