name: linters

on:
  workflow_call:
    inputs:
      setup_mypy:
        default: 'echo "No extra setup."'
        required: false
        type: string
      fixit_linter_test_version:
        default: ''
        required: false
        type: string
      extra_mypy_config:
        default: ''
        required: false
        type: string
      for_python:
        default: true
        required: false
        type: boolean
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      CLOUDSMITH_PIP:
        required: true
      CLOUDSMITH_PIP_TEST:
        required: false
      CARTA_CI_GITHUB_TOKEN:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_KEY:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_SECRET:
        required: true
      DD_API_KEY:
        required: false

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          path: src
          ref: ${{ github.head_ref }}
          fetch-depth: 50
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@master
        with:
          path: src
          ref: ${{ github.ref_name }}
          fetch-depth: 50
        if: github.event_name != 'pull_request'
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0

  prepare_fixit_venv:
    runs-on: ubuntu-latest
    outputs:
      latest_version: ${{ steps.latest_version.outputs.latest_version }}
    steps:
      - name: find the latest version
        id: latest_version
        shell: python
        run: |
          from re import search
          from subprocess import run
          output = run(
            [
              "pip", "install", "fixit-linter==random",
              "--index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP }}/carta/pip/python/index/"
            ],
            capture_output=True
          )
          stderr = output.stderr.decode()
          print(stderr)
          latest_version = search("from versions: (?P<versions>[^)]+)\)", stderr).group("versions").split(", ")[-1]
          print(f"::set-output name=latest_version::{latest_version}")
      - uses: actions/cache@v2
        id: cache-fixit-venv
        with:
          path: ./fixit-venv/
          key: fixit-venv-${{ steps.latest_version.outputs.latest_version }}-${{ inputs.fixit_linter_test_version }}-v0.1.0
      - name: Create a venv and install fixit-linter
        run: |
          set -x
          python -m venv fixit-venv
          . fixit-venv/bin/activate
          if [ -z "${{ inputs.fixit_linter_test_version }}" ]
          then
            pip install --upgrade fixit-linter==${{ steps.latest_version.outputs.latest_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP }}/carta/pip/python/index/
          else
            pip install --upgrade fixit-linter${{ inputs.fixit_linter_test_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP_TEST }}/carta/pip-test/python/index/
          fi
        if: steps.cache-fixit-venv.outputs.cache-hit != 'true'

  run_mypy:
    runs-on: ubuntu-latest
    needs: [checkout, prepare_fixit_venv]
    if: ${{ inputs.for_python }}
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-http
        with:
          path: /home/runner/.cache/pip/http
          key: pip-http-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-wheel
        with:
          path: /home/runner/.cache/pip/wheels
          key: pip-wheel-v0.1.0
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('src/**/requirements*.txt') }}-${{ hashFiles('src/requirements/*.txt') }}-${{ needs.prepare_fixit_venv.outputs.latest_version }}-${{ inputs.fixit_linter_test_version }}
      - name: Create a venv and install dependencies
        working-directory: src
        run: |
          set -x
          python -m venv ../venv/
          . ../venv/bin/activate
          pip install --upgrade pip wheel
          pip install setuptools==58.0.1 && make deps
          pip cache info
          if [ -z "${{ inputs.fixit_linter_test_version }}" ]
          then
            pip install --upgrade fixit-linter==${{ needs.prepare_fixit_venv.outputs.latest_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP }}/carta/pip/python/index/
          else
            pip install --upgrade fixit-linter${{ inputs.fixit_linter_test_version }} --extra-index-url=https://dl.cloudsmith.io/${{ secrets.CLOUDSMITH_PIP_TEST }}/carta/pip-test/python/index/
          fi
          pip install mypy==0.942
        if: steps.cache-venv.outputs.cache-hit != 'true'
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}
          CLOUDSMITH_PIP_TEST: ${{ secrets.CLOUDSMITH_PIP_TEST }}
      - name: run Mypy
        shell: bash
        working-directory: src
        run: |
          set -x
          set -o pipefail
          . ../venv/bin/activate
          ${{ inputs.setup_mypy }}
          curl -LJO https://raw.githubusercontent.com/carta/.github/main/configs/mypy.ini
          echo "${{ inputs.extra_mypy_config }}" >> mypy.ini

          mkdir -p logs/
          python -m fixit_linter.linter.general.mypy_linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          
  run_fixit_linters:
    runs-on: ubuntu-latest
    needs: [checkout, prepare_fixit_venv]
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-fixit-venv
        with:
          path: ./fixit-venv/
          key: fixit-venv-${{ needs.prepare_fixit_venv.outputs.latest_version }}-${{ inputs.fixit_linter_test_version }}-v0.1.0
      - name: run decompose linter
        working-directory: src
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          S3_KEY: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_KEY }}
          S3_SECRET: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_SECRET }}
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          LIBCST_PARSER_TYPE: native
        run: |
          set -x
          . ../fixit-venv/bin/activate
          python3 -m fixit_linter.linter.general.github.pull_request_validator
          if ${{ inputs.for_python }}; then
            python3 -m fixit_linter.linter.decomposition.linter ${S3_KEY} ${S3_SECRET} ${GITHUB_REPOSITORY}
            python3 -m fixit_linter.linter.decomposition.config_parser
          fi
