name: type_annotation

on:
  workflow_call:
    inputs:
      setup_mypy:
        default: 'echo "No extra setup."'
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      CLOUDSMITH_PIP:
        required: true
      CARTA_CI_GITHUB_TOKEN:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_KEY:
        required: true
      AUTOMATED_REFACTORING_S3_ACCESS_SECRET:
        required: true
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          path: src
      - name: configure Git
        shell: bash
        working-directory: src
        run: |
          git config pull.rebase true
          git config user.name 'carta-ci'
          git config user.email 'carta-ci@carta.com'
          git checkout -b ${{ github.ref_name }}
          git fetch origin ${{ github.ref_name }} --shallow-since=2022-03-30
          git reset --hard origin/${{ github.head_ref }}
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0

  install_dependency:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-http
        with:
          path: /home/runner/.cache/pip/http
          key: pip-http-v0.1.0
      - uses: actions/cache@v2
        id: cache-pip-wheel
        with:
          path: /home/runner/.cache/pip/wheels
          key: pip-wheel-v0.1.0
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('src/**/requirements*.txt') }}-${{ hashFiles('src/requirements/*.txt') }}-v0.1.4
      - name: Create a venv and install dependencies
        working-directory: src
        run: |
          set -x
          python -m venv ../venv/
          . ../venv/bin/activate
          pip install --upgrade pip wheel
          pip install setuptools==58.0.1 && make deps
          pip cache info
        if: steps.cache-venv.outputs.cache-hit != 'true'
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}

  run_mypy:
    runs-on: ubuntu-latest
    needs: install_dependency
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('src/**/requirements*.txt') }}-${{ hashFiles('src/requirements/*.txt') }}-v0.1.4
      - name: run Mypy
        shell: bash
        working-directory: src
        run: |
          set -x
          set -o pipefail
          . ../venv/bin/activate
          ${{ inputs.setup_mypy }}
          curl -LJO https://raw.githubusercontent.com/carta/.github/main/configs/mypy.ini
          if [ -f mypy_dirs.txt ]; then
            mypy --config-file mypy.ini @mypy_dirs.txt | tee mypy_report.txt
          else
            mypy --config-file mypy.ini . | tee mypy_report.txt
          fi
      - name: report Mypy errors on the PR
        if: ${{ failure() }}
        working-directory: src
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}
          GITHUB_TOKEN: ${{ secrets.CARTA_CI_GITHUB_TOKEN }}
        run: |
          set -x
          . ../venv/bin/activate
          pip install --upgrade fixit-linter --extra-index-url=https://dl.cloudsmith.io/${CLOUDSMITH_PIP}/carta/pip/python/index/
          python -m fixit_linter.linter.ci.add_comment_on_pr --message "Mypy identified some errors:" --inline --from-file mypy_report.txt --parser mypy

  run_decompose:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/cache@v2
        id: cache-checkout
        with:
          path: ./src/
          key: checkout-${{ github.sha }}-v0.1.0
      - name: run decompose linter
        working-directory: src
        shell: bash
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          S3_KEY: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_KEY }}
          S3_SECRET: ${{ secrets.AUTOMATED_REFACTORING_S3_ACCESS_SECRET }}
        run: |
          set -x
          pip install --upgrade fixit-linter --extra-index-url=https://dl.cloudsmith.io/${CLOUDSMITH_PIP}/carta/pip/python/index/
          python3 -m fixit_linter.linter.decomposition.linter ${S3_KEY} ${S3_SECRET} ${{ github.repository }}
