name: type_annotation

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      CLOUDSMITH_PIP:
        required: true
      CARTA_CI_GITHUB_TOKEN:
        required: true
jobs:
  run_mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/cache@v2
        id: cache-venv
        with:
          path: ./venv/
          key: venv-${{ hashFiles('**/requirements*.txt') }}-${{ hashFiles('requirements/*.txt') }}-v0.1
      - name: Create a venv and install dependencies
        run: |
          set -x
          python -m venv ./venv/
          . ./venv/bin/activate
          pip install --upgrade pip wheel
          pip install setuptools==58.0.1 && make deps
          pip install fixit-linter --extra-index-url=https://dl.cloudsmith.io/${CLOUDSMITH_PIP}/carta/pip/python/index/
        if: steps.cache-venv.outputs.cache-hit != 'true'
        env:
          CLOUDSMITH_PIP: ${{ secrets.CLOUDSMITH_PIP }}
      - name: run Mypy
        shell: bash
        run: |
          set -x
          set -o pipefail
          . ./venv/bin/activate
          if [ -f mypy_dirs.txt ]; then
            mypy @mypy_dirs.txt | tee mypy_report.txt
          else
            mypy . | tee mypy_report.txt
          fi
      - name: report Mypy errors on the PR
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ secrets.CARTA_CI_GITHUB_TOKEN }}
        run: |
          set -x
          . ./venv/bin/activate
          python -m fixit_linter.linter.ci.add_comment_on_pr --message "Mypy identified some errors:" --inline --from-file mypy_report.txt --parser mypy
